<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>마커와 텍스트 표시하기</title>

</head>
<body>


<form action="/station/station-gps" method="post">
    gps
    tmX:<input type="text" name="tmX">
    tmY:<input type="text" name="tmY">
    radius:<input type="text" name="radius">
    <input type="submit" value="검색">
</form>

<form action="/station/station-name-gps" method="post">
    <h3>교통약자전용정류소 이름 검색</h3><br><br>
    정류장:<input type="text" name="stSrch">
    <input type="submit" value="검색">
</form>

<form action="/station/lowStaionByUid" method="post">
    <h3>교통약자전용정류소 고유번호 검색</h3><br><br>
    정류장:<input type="text" name="arsId">
    <input type="submit" value="검색">
</form>

</body>
</html>