<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>인덱스</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/jh.css')}}">


</head>
<body>

<form action="/station/station-name-gps" method="post">
    <h3>교통약자전용정류소 이름 검색</h3><br><br>
    정류장:<input type="text" name="stSrch">
    <input type="submit" value="검색">
</form>

<form action="/station/lowStaionByUid" method="post">
    <h3>교통약자전용정류소 고유번호 검색</h3><br><br>
    정류장:<input type="text" name="arsId">
    <input type="submit" value="검색">
</form>

</body>
</html>