<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script async src="//jsfiddle.net/jscodedev/ukqqvL9h/1/embed/"></script>

    <!-- css -->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/jh.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.js') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

</head>
<body style="width:80%; text-align:center; margin-left:auto; margin-right:auto;">
<h3 style="display:inline-block; text-align:center;"><b>{{lowStaionByUid[0].stnNm}}</b> 버스 도착 정보</h3>


<!-- 이미지 지도를 표시할 div 입니다 -->
<div id="map" style="width:100%;height:350px;"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5a4d02a1d8eaf5daed584823dcae3470&libraries=services"></script>

<div class="row">

    <table id="example-table-1" border="1" class="table table-bordered table-hover text-center" style="text-align:center; width=80%;">

    <tr><th>정류소 ID</th><th>정류소명</th><th>정류소번호</th></tr>
    <tr>
        <td>{{lowStaionByUid[0].stId}}</td>
        <td id="stnNm">{{lowStaionByUid[0].stnNm}}</td>
        <td>{{lowStaionByUid[0].arsId}}</td>
    </tr>

    </table>

    <table border="1"  class="table table-bordered table-hover text-center" style="text-align:center; width=80%;">
        <tr style="text-align:center;"><th>노선ID</th><th>버스 번호</th><th>첫차시간</th>
            <th>막차 시간</th><th>배차 간격</th>
            <th>첫번째 도착예정버스의 최종보고시간</th>
            <th>첫번째 도착예정 버스의 도착정보 메시지</th>
            <th>두번째 도착 예정 버스의 도착정보 메시지</th>
        </tr>
    {% for s in lowStaionByUid %}
        <tr>
            <td>{{s.busRouteId}}</td>
            <td>{{s.rtNm}}</td>
            <td>{{s.firstTm}}</td>
            <td>{{s.lastTm}}</td>
            <td>{{s.term}}</td>

            <td>{{s.repTm1}}</td>
            <td>{{s.arrmsg1}}</td>

            <td>{{s.arrmsg2}}</td>

        </tr>
    {% endfor %}
    </table>
</div>

<div name="gpsX" id="gpsX" style="font-size:2px; color:white; text-align:center;">{{station_gps[0].gpsX}}</div>
<div name="gpsY" id="gpsY" style="font-size:2px; color:white; text-align:center;">{{station_gps[0].gpsY}}</div>

<script>

var Lat = document.getElementById("gpsY").innerText; //위도
Lat = Number(Lat);
var Lng = document.getElementById("gpsX").innerText; //경도
Lng = Number(Lng);

var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(Lat, Lng), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// <사용자 컨트롤>
// 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
var mapTypeControl = new kakao.maps.MapTypeControl();

// 지도에 컨트롤을 추가해야 지도위에 표시됩니다
// kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

// 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
var zoomControl = new kakao.maps.ZoomControl();
map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);


// <마커>
// 마커가 표시될 위치입니다
var markerPosition  = new kakao.maps.LatLng(Lat, Lng);

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
    position: markerPosition
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);

// 아래 코드는 지도 위의 마커를 제거하는 코드입니다
// marker.setMap(null);

// <마커 클릭 이벤트>
// 마커를 클릭했을 때 마커 위에 표시할 인포윈도우를 생성합니다
var iwContent = '<div style="padding:8px; display:inline-block;">'+ document.getElementById("stnNm").innerText + '</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
    iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

// 인포윈도우를 생성합니다
var infowindow = new kakao.maps.InfoWindow({
    content : iwContent,
    removable : iwRemoveable
});

// 마커에 클릭이벤트를 등록합니다
kakao.maps.event.addListener(marker, 'click', function() {
      // 마커 위에 인포윈도우를 표시합니다
      infowindow.open(map, marker);
});
</script>
</body>
</html>